name: zypher_stack

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./fake_company.sql:/docker-entrypoint-initdb.d/fake_company.sql
    restart: unless-stopped

volumes:    
  pg_data:
    driver: local