name: zypher_stack

services:
  ollama:
    image: ollama/ollama:0.13.0
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./fake_company.sql:/docker-entrypoint-initdb.d/fake_company.sql
    restart: unless-stopped

volumes:
  ollama_data:
    driver: local
    
  pg_data:
    driver: local